<input type="text" class="text" ng-model="textToSearch" ng-model-options="{ debounce: 100 }" ng-change="searchProductName()" autofocus>
<input type="button" value="Search" ng-click="searchProduct()">
<div id="allCategoryList">
    <ul>
        <li ng-repeat="value in menuList" class="catlist{{$index}}" ng-click="select(value,$index)" >{{value.name}} <b style="color:grey;">|</b></li>
    </ul>
</div>
<!-- <div class="subCategory" ng-show="subCategoryShow" ng-mouseleave="subCategoryShow=false;">
    <ul>
        <li ng-repeat="value in subCategoryList">{{value.name}}</li>
    </ul>
</div> -->
<div ng-show="productFound" style="margin:10px 0px 0px 10px;"> Showing Results For :
    <span>{{resultShow.name}}{{subresult.length>0 ? " > " : ""}} {{subresult}}</span> <span style="margin-left:50px;">    Showing {{total}} results </span>
    <!-- <span ng-show="nextShow" class="next" ng-click="nextPage()"> Next</span> -->
    <div ng-show="noResult"> No results found</div>
</div>
<div class="allProducts col-xs-12" ng-show="productFound " style="padding:10px ">
    <div class="sidebar col-xs-2 padding">
        <div class="category" >
            <ul class="categoryList">
                <li class="listHeader"> Category</li>
                <li ng-repeat="value in menuList">
                    <div ng-click="select(value,$index)">{{value.name}}</div>
                    <div id="sideSubCategory{{$index}}" ng-show="value.display">
                        <ul>
                            <li class="sidesubcategory" id="subList{{$index}}" ng-repeat="item in sideSubCategoryList" ng-click="filterSubCategory(value.name,item.name,$index)"> > {{item.name}} ({{item.count}})</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="category" ng-show="brandList">
            <ul>
                <li class="listHeader"> Brand</li>
                <li ng-repeat="value in brandArray">
                    <input type="checkbox"  ng-model="select" value="{{value}}" ng-change="change(value.key,$index,select)" id="ng-change-example1" />{{value.key}} ({{value.doc_count}})
                </li>
            </ul>
        </div>
        <div class="category" ng-show="attributeList" >
            <ul>
                <li class="listHeader"> Price</li>
                <li ng-repeat="value in priceRange" ng-class="{faded : value.doc_count==0}"> 
                    <input type="checkbox"  ng-model="attributeselect" value="{{value}}" id="ng-change-example1" ng-change="selectedPrice(value,attributeselect)" />{{value.key}} ({{value.doc_count}})
                </li>
            
            </ul>
        </div>
        <div class="category" ng-repeat="data in attributes" style="margin-bottom:5px;">
        <ul>
        <li class="listHeader"  >{{data.name}}</li>
        <li ng-repeat = "value in data.values" ng-class="{faded : value.doc_count==0}">
            <input type ="checkbox" />{{value.key}} ({{value.doc_count}})
        </li>
        </div>
    </div>
    <div class="col-xs-10 ">
        <div ng-repeat="value in productResult" class="containerP col-xs-5">
            <img src="download.jpg" class="col-xs-5 padding" />
            <div class="afterImage col-xs-7 ">
                <div class="productName col-xs-11 padding">{{value.name}}</div>
                <div class="productDesc col-xs-11 padding">{{value.description | limitTo : 40}}{{value.description.length>40?'......': ''}}{{!value.description?'No Description Available': ''}}</div>
                <div class="productCat col-xs-11 padding">{{value.category}}</div>
                <div class="productBrand col-xs-11 padding">{{value.details.brand}}</div>
                <div class="productMan col-xs-11 padding">{{value.details.manufacturer}}</div>
                <div class="productName col-xs-11 padding">${{value.pricing.offerPrice}}</div>
            </div>
        </div>
    </div>
</div>
<div class="list" ng-show="nameFound ">
    <ul>
        <li class="total"> Showing <span> {{total}} </span> Results</li>
        <li ng-repeat="value in nameResult" ng-click="selectedShow(value)">{{value.name}}
</div>
